.message-tail {
	background: #ffdcdc;
	border-radius: 0px 0px 34px 0px;
	transform: matrix(-1, 0, 0, 1, 0, 0);
	width: 16px;
	height: 25px;
	right: 0px;
	bottom: -6px;
}

@media (max-width: 768px) {
	.message-content {
		font-size: 11px !important;
		padding-top: 10px !important;
	}
}
