.filterIcon {
	fill: none !important;
	height: 16px !important;
	width: 16px !important;
}
.info-icon {
	height: 14px;
	width: 14px;
}
.info-icon path {
	fill: transparent !important;
}
.info-item .MuiTreeItem-content {
	background-color: unset !important;
}
.info-item {
	border: 1px solid #eaeaea;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
}
.info-item .MuiTreeItem-iconContainer {
	display: none;
}
.info-item ul {
	margin-left: unset;
}
.MuiTreeItem-label {
	font-family: unset !important;
}
.info-item-child {
	font-style: normal;
	font-weight: 100;
	font-size: 14px;
	line-height: 17px;
}
@media (max-width: 768px) {
	.filter {
		margin-top: 20px !important;
	}
	.info-item {
		padding: 10px 10px !important;
	}
}
