.pagination-showniq {
    .MuiButtonBase-root {
        border-color: #f2f2f2;
        border-radius: 0;
        color: #999;
        &.Mui-selected {
            border-color: #ffa1a1;
            color: #ffa1a1;
        }
    }
}
.slider {
    &__label {
        font-size: 10px;
        color: #bfbfbf;
        font-weight: 400;
    }
    &__item {
        position: relative;
        height: 100%;
        width: 10px;
        &--bg {
            background: #999999;
            border-radius: 4px;
            height: 100%;
            display: flex;
        }
        &--active {
            display: flex;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background: #ffa1a1;
            z-index: 99;
            border-radius: 4px;
        }
    }
}
.pulse {
    position: absolute;
    top: 55%;
    left: 40%;
    transform: translate(-505, -50%);
    width: 100px;
    height: 100px;
    border: 0.5px solid #ffa1a1;
    border-radius: 50%;
    box-sizing: border-box;
    // z-index: 999;
}

.pulse:before,
.pulse:after {
    content: "";
    position: absolute;
    left: -30px;
    top: -30px;
    right: -30px;
    bottom: -30px;
    border: 0.5px solid #ffa1a1;
    border-radius: 50%;
    animation: animate 3s linear infinite;
}

.pulse:after {
    animation-delay: 2s;
}

@keyframes animate {
    0% {
        transform: scale(0.1);
    }
    100% {
        transform: scale(5);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(0);
        opacity: 0;
    }
    8% {
        -webkit-transform: scale(0);
        opacity: 0;
    }
    15% {
        -webkit-transform: scale(0.1);
        opacity: 1;
    }
    30% {
        -webkit-transform: scale(0.5);
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1);
    }
}

.pulse_holder {
    display: block;
    position: absolute;
    top: 100px;
    left: 350px;
    z-index: 9999;
}

.pulse_holder .pulse_marker {
    width: 16px;
    height: 16px;
    background: #099;
    border-radius: 28px;
}

.pulse_holder .pulse_rays {
    margin: 0 auto;
    border-radius: 100px;
    position: absolute;
    right: -26px;
    top: -26px;
    z-index: 10;
    background-color: transparent;
    opacity: 0.1;
    width: 64px;
    height: 64px;
    border: 2px solid rgba(0, 128, 64, 1);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    -ms-border-radius: 100px;
    border-radius: 100px;
    /* Giving Animation Function */
    -webkit-animation: pulse 2s linear infinite;
    -moz-animation: pulse 2s linear infinite;
    border-image: initial;
}
